.home-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;

    .player {
        display: flex;
        flex-direction: column;
        background-color: var(--second-background-color);
        border-radius: 2vh;
        height: auto;
        max-height: 70%;
        width: auto;
        max-width: 60%;
        margin: 2vh 0 2vh 0;

        &:first-child {
            margin-top: 8vh;
        }

        .top-bar {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            min-height: 7vh;
            height: 8%;
            width: auto;
            max-width: 100%;
            padding: 3vh;
        }

        .video-holder {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            max-height: 70%;
            width: auto;
            max-width: 100%;

            video, img {
                background-color: #000000;
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 100%;
            }
        }

        .bot-bar {
            display: flex;
            flex-direction: column;
            height: auto;
            max-height: 22%;
            width: auto;
            max-width: 100%;

            .tag-list {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                list-style-type: none;

                .tag-item {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
            }

            .menu {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                list-style-type: none;
                padding: 3vh;

                .menu-item {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    
                    img {
                        height: 4vh;
                        width: 4vh;
                        margin: 0 1vh 0 1vh;
                    }
                }
            }

            .description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                word-wrap: break-word;
                padding: 3vh;
                font-size: 2vh;
            }
        }

        // .comments {}
    }
}