<div class="home-container">
    <div class="player">
        <div class="top-bar">Użytkownik</div>
        <div class="content"> 
            <img src="https://preview.redd.it/e3772x3d0k3a1.jpg?width=640&crop=smart&auto=webp&s=094c23015e16bce510fe81618eb5eed7ea07092c">
        </div>
        <div class="bot-bar">
            <ul class="menu">
                <li class="menu-item" id="like"><img src="../../public/images/line/star.svg" alt="like"></li>
                <li class="menu-item" id="save"><img src="../../public/images/line/bookmark.svg" alt="save"></li>
            </ul>
            <ul class="tag-list">
                <li class="tag">dupa</li>
                <li class="tag">kupa</li>
            </ul> 
        </div>
    </div>
    <div class="player">
        <div class="top-bar">Użytkownik</div>
        <div class="content"> 
            <video poster="https://thumbs4.redgifs.com/GiftedAquamarineOlm-mobile.jpg?expires=1669921200&signature=5fdcd58bc3d054dc08aa81d7bdb5f8e2f87500fe1458af89550b629dbf2c0e99&for=83.22.60.55" preload="metadata" playsinline autoplay muted loop controls>
                <source src="https://i.imgur.com/3YESpWP.mp4" type="video/mp4">
                <source src="https://i.imgur.com/3YESpWP.mp4" type="video/ogg">
                Your browser does not support the videos.
            </video> 
        </div>
        <div class="bot-bar">
            <ul class="menu">
                <li class="menu-item" id="like"><img src="../../public/images/solid/star.svg" alt="like"></li>
                <li class="menu-item" id="save"><img src="../../public/images/solid/bookmark.svg" alt="save"></li>
            </ul>
            <ul class="tag-list">
                <li class="tag">fajfus</li>
                <li class="tag">dsdadas</li>
            </ul> 
        </div>
    </div>
    <div class="player">
        <div class="top-bar">Użytkownik</div>
        <div class="content"> 
            <span>Hiiii guys,<br>what u thing about my last photo??</span>
        </div>
        <div class="bot-bar">
            <ul class="menu">
                <li class="menu-item" id="like"><img src="../../public/images/line/star.svg" alt="like"></li>
                <li class="menu-item" id="save"><img src="../../public/images/line/bookmark.svg" alt="save"></li>
            </ul>
            <ul class="tag-list">
                <li class="tag">dupa</li>
                <li class="tag">kupa</li>
            </ul>
        </div>
    </div>
</div>