@import './resources/root.scss';

html,
body {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font-family);
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    a {
        text-decoration: none;
        color: var(--text-color);
    }

    .left-panel {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: left;
        width: 17%;
        height: 100%;
        background-color: var(--second-background-color);
        padding: 0 18px 0 18px;

        .logo {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 10%;
            padding: 0 18px 0 18px;
            border-radius: 2vh;
            cursor: pointer;

            img {
                max-width: 100%; // !important
                max-height: 100%; // !important
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 90%;
            padding: 8px 0 8px 0;

            .menu-item {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                width: 100%;
                height: 40px;
                padding: 25px 20px 25px 15px;
                margin: 3px 0 6px 0;
                border-radius: 2vh;
                cursor: pointer;
                
                &:hover {
                    background-color: var(--hover-background-color);
                }

                &:last-child {
                    margin-top: auto;
                    margin-bottom: 25px;
                }

                .icon {
                    width: 30px;
                    height: 30px;
                    margin-right: 15px;
                    border-radius: 50%;
                    stroke: white;
                }

                .text {
                    font-size: 18px;
                }
            }
        }
    }

    .right-panel {
        width: 83%;
        height: 100%;
        background-color: var(--background-color);

        .error-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;

            h1 {
                font-size: 4rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            a {
                font-size: 1.5rem;
                font-weight: 500;
                text-decoration: underline;
            }
        }

        .home-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;

            // .player {
            //     .title {}

            //     .video-holder {
            //         video, img {}
            //     }

            //     .description {}
            // }
        }
        
        .search-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        .explore-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        .messages-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        .notifications-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        .create-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        .profile-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        .settings-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }
}