@import './resources/root.scss';

html,
body {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font-family);
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    a {
        text-decoration: none;
        color: var(--text-color);
    }

    .left-panel {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: left;
        width: 17%;
        height: 100%;
        background-color: var(--second-background-color);
        padding: 0 18px 0 18px;
        overflow-x: hidden;
        overflow-y: hidden;

        .logo {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 10%;
            padding: 0 18px 0 18px;
            border-radius: 2vh;
            cursor: pointer;

            img {
                max-width: 100%; // !important
                max-height: 100%; // !important
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 90%;
            padding: 8px 0 8px 0;
            list-style-type: none;

            .menu-item {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                width: 100%;
                height: 40px;
                padding: 25px 20px 25px 15px;
                margin: 3px 0 6px 0;
                border-radius: 2vh;
                cursor: pointer;
                
                &:hover {
                    background-color: var(--hover-background-color);
                }

                &:last-child {
                    margin-top: auto;
                    margin-bottom: 25px;
                }

                .icon {
                    width: 30px;
                    height: 30px;
                    margin-right: 15px;
                    border-radius: 50%;
                    border: 2px solid transparent;
                }

                .text {
                    font-size: 18px;
                }
            }
        }
    }

    .right-panel {
        width: 83%;
        height: 100%;
        background-color: var(--background-color);
        overflow-x: hidden;
        overflow-y: scroll;

        .error-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            h1 {
                font-size: 4rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            a {
                font-size: 1.5rem;
                font-weight: 500;
                text-decoration: underline;
            }
        }

        .home-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;

            .player {
                display: flex;
                flex-direction: column;
                // justify-content: start; ! nie definiować tego bo przechodzi na obiekty niżej
                // align-items: center;
                background-color: var(--second-background-color);
                border-radius: 2vh;
                height: auto;
                max-height: 70%;
                width: auto;
                max-width: 60%;
                margin: 2vh 0 2vh 0;

                &:first-child {
                    margin-top: 8vh;
                }

                .top-bar {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    padding: 0; // !
                    min-height: 7vh;
                    height: 8%;
                    width: auto;
                    max-width: 100%;
                }

                .video-holder {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    max-height: 70%;
                    width: auto;
                    max-width: 100%;

                    video, img {
                        background-color: #000000;
                        width: auto;
                        max-width: 100%;
                        height: auto;
                        max-height: 100%;
                    }
                }

                .bot-bar {
                    display: flex;
                    flex-direction: column;
                    // justify-content: start; ! nie definiować tego bo przechodzi na obiekty niżej
                    // align-items: center;
                    height: auto;
                    max-height: 22%;
                    width: auto;
                    max-width: 100%;

                    .tag-list {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        list-style-type: none;

                        .tag-item {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .menu {
                        .menu-item {}
                    }

                    .description {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }

                // .comments {}
            }
        }
        
        // .search-container {
        //     display: flex;
        //     flex-direction: column;
        //     height: 100%;
        //     width: 100%;
        // }

        // .explore-container {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: start;
        //     align-items: center;
        //     height: 100%;
        //     width: 100%;
        // }

        // .messages-container {
        //     display: flex;
        //     flex-direction: column;
        //     height: 100%;
        //     width: 100%;
        // }

        // .notifications-container {
        //     display: flex;
        //     flex-direction: column;
        //     height: 100%;
        //     width: 100%;
        // }

        // .create-container {
        //     display: flex;
        //     flex-direction: column;
        //     height: 100%;
        //     width: 100%;
        // }

        // .profile-container {
        //     display: flex;
        //     flex-direction: column;
        //     height: 100%;
        //     width: 100%;
        // }

        // .settings-container {
        //     display: flex;
        //     flex-direction: column;
        //     height: 100%;
        //     width: 100%;
        // }
    }
}