@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --background-color: #242425;
    --secound-background-color: #161617; // #2c2c2e
    --text-color: #ffffff;
}